version: "{build}"

cache:
 - C:\gopath\pkg\mod -> go.sum
 - C:\ProgramData\chocolatey\bin -> appveyor.yml
 - C:\ProgramData\chocolatey\lib -> appveyor.yml

clone_folder: C:\gopath\src\github.com\influxdata\telegraf

environment:
  GOVERSION: 1.13.8
  GOPATH: C:\gopath

platform: x64

install:
  - choco install golang --version "%GOVERSION%"
  - choco install make
  - cd "%GOPATH%\src\github.com\influxdata\telegraf"
  - git config --system core.longpaths true
  - go version
  - go env

build_script:
  - make deps
  - make telegraf

test_script:
  - make check
  - make test-windows

artifacts:
  - path: telegraf.exe
