---
defaults:
  defaults: &defaults
    working_directory: '/go/src/github.com/influxdata/telegraf'
  go-1_8: &go-1_8
    docker:
      - image: 'circleci/golang:1.8.7'
  go-1_9: &go-1_9
    docker:
      - image: 'circleci/golang:1.9.5'
  go-1_10: &go-1_10
    docker:
      - image: 'circleci/golang:1.10.1'

version: 2
jobs:
  test-go-1.8:
    <<: [ *defaults, *go-1_8 ]
    steps:
      - checkout
      - run: 'make deps'
      - run: 'make test-ci'
  test-go-1.9:
    <<: [ *defaults, *go-1_9 ]
    steps:
      - checkout
      - run: 'make deps'
      - run: 'make test-ci'
  test-go-1.10:
    <<: [ *defaults, *go-1_10 ]
    steps:
      - checkout
      - run: 'make deps'
      - run: 'make test-ci'
  release:
    <<: [ *defaults, *go-1_10 ]
    steps:
      - checkout
      - run: './scripts/release.sh'
      - store_artifacts:
          path: './artifacts'
          destination: '.'
  nightly:
    <<: [ *defaults, *go-1_10 ]
    steps:
      - checkout
      - run: './scripts/release.sh'
      - store_artifacts:
          path: './artifacts'
          destination: '.'

workflows:
  version: 2
  build_and_release:
    jobs:
      - 'test-go-1.8'
      - 'test-go-1.9'
      - 'test-go-1.10'
      - 'release':
          requires:
            - 'test-go-1.8'
            - 'test-go-1.9'
            - 'test-go-1.10'
  nightly:
    jobs:
      - 'test-go-1.9'
      - 'nightly':
          requires:
            - 'test-go-1.8'
            - 'test-go-1.9'
            - 'test-go-1.10'
    triggers:
      - schedule:
          cron: "0 18 * * *"
          filters:
            branches:
              only:
                - master
