[Unit]
Description=The plugin-driven server agent for reporting metrics into InfluxDB
Documentation=https://github.com/influxdb/telegraf
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/telegraf
ExecStart=/usr/bin/telegraf -config /etc/telegraf/telegraf.conf -config-directory /etc/telegraf/telegraf.d $TELEGRAF_OPTS
KillMode=process
# Journald restart in systemd < v219 causes SIGPIPE which is considered clean exit
#   so cannot use Restart=on-failure
# With systemd >= v215 we can also use RestartForceExitStatus=SIGPIPE
#   and Restart=on-failure
Restart=always

[Install]
WantedBy=multi-user.target
Alias=telegraf.service

