{{ range .Versions }}
## {{ .Tag.Name }} [{{ datetime "2006-01-02" .Tag.Date }}]
{{ $authorNames := list -}}
{{- if .CommitGroups -}}
{{ range .CommitGroups }}
### {{ .Title }}

{{ range $commit := .Commits -}}

{{/* A list of regex to ignore commits, e.g. ignore all bot commits */}}
{{- $commitIgnoreList := list
"^update etc/telegraf.conf and etc/telegraf_windows.conf"
"^update configs" -}}
{{- $print := true -}}
{{- range $regex := $commitIgnoreList -}}
    {{- if regexMatch $regex $commit.Subject -}}
        {{- $print = false -}}
    {{- end -}}
{{- end -}}
{{- if $print -}}
{{- $authorNames = append $authorNames $commit.Author.Name -}}
- {{ if .Scope }}**{{ .Scope }}:** {{ end }}{{ println (upperFirst (trim $commit.Subject)) }}
{{- end -}}
{{- end }}
{{- end }}
{{ else }}
{{ range .Commits -}}
- {{ .Header }}
{{ end }}
{{ end -}}
{{ "Thank you for your contributions!" }}

{{ $authorNames = ($authorNames | uniq) -}}
{{ range $i, $name := $authorNames -}}
{{if $i}},{{end}}{{$name}}
{{- end -}}

{{- if .NoteGroups -}}
{{ range .NoteGroups -}}
### {{ .Title }}
{{ range .Notes }}
{{ .Body }}
{{ end }}
{{ end -}}
{{ end -}}
{{ end }}
